* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
    text-align: right;
    height: 50px;
}

header button {
    margin-right: 10px;
    color: white;
    border: 0;
    border-radius: 10px;
    background-color: gray;
    padding: 5px;
}

main {
    height: calc(100vh - 100px);
}

footer {
    background-color: gray;
    height: 50px;
    display: flex;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.img-wrapper {
    margin: 5px;
    position: relative;
    height: 150px;
    width: 200px;
    background-color: lightblue;
}

.nome {
    padding: 5px;
    background-color: rgb(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
}

.nome p {
    display: inline-block;
}

.footer-left i, .footer-central i, .footer-right i {
    color: white;
}

.footer-left {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-central {
    width: calc(100% - 250px);
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-right {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-right button {
    border: 0;
    background-color: gray;
    color: #A52A2A;
    font-size: 15px;
    font-weight: bold;
}

@media all and (max-width: 400px) {
    .footer.left {
        width: 40px;
    }

    .footer.left {
        width: 40px;
    }

    .footer-central {
        width: calc(100% - 80px);
}
